# URL de ton serveur MCP Splunk (ex: si tu le fais tourner en local via npx)
MCP_SPLUNK_SERVER_URL=https://localhost:8089/services/mcp

# Identifiants Splunk (le serveur MCP en a besoin pour se connecter à Splunk)
SPLUNK_HOST=127.0.0.1
SPLUNK_PORT=8088
SPLUNK_USERNAME=admin
SPLUNK_PASSWORD=your_password
SPLUNK_MCP_TOKEN=your_splunk_mcp_token

# LLM
GOOGLE_API_KEY=your key_google_ai_studio

# Backend FastAPI
FASTAPI_BACKEND_URL=http://127.0.0.1:8000/api/alerts